{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block contents %}
<div class="container" style="padding-top: 15px; padding-bottom: 15px; min-height: 550px">
    <div class="row">

        <div class="col-lg-6">
            <div class="container">
                <div style="padding-top:30px; padding-bottom:30px">
                    <h2>欢迎注册python交流网</h2>
                </div>
                <form  method="post" action="">
                    {{ wtf.quick_form(form, button_map={'submit':'secondary'})}}
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container">

            </div>
        </div>
    </div>
</div>
{% endblock %}