{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block contents %}
<div class="container" style="padding-top: 15px; padding-bottom: 15px; min-height: 500px">

        <div class="col-lg-6 d-sm-none d-md-block">
            <p>重置密码</p>
        </div>
        <div class="col-lg-6">
            <div class="container">
                <form  method="post" action="">
                {{ wtf.quick_form(form, button_map={'submit':'secondary'})}}
                </form>

            </div>
        </div>
    </div>
{% endblock %}