{% extends "backstage/base.html" %}

{% block contents %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>标题</th>
        <th>作者</th>
        <th>文章类型</th>
        <th>上传时间</th>
        <th>最后更新时间</th>
        <th>浏览量</th>
        <th>评论数</th>
        <th>发布形式</th>
        <th>禁用/启用</th>
        <th>审核</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td>{{ article.id }}</td>
        <td>
            <a href="{{ url_for('article.article_show', article_id=article.id) }}" target=_blank>
                {{ article.title }}
            </a>
        </td>
        <td>{{ article.user.username }}</td>
        <td>
            {% if article.original=='原创' %}
            <span class="text-success">{{ article.original }}</span>
            {% elif article.original == '转载' %}
            <span class="text-primary">{{ article.original }}</span>
            {% else %}
            <span class="text-info">{{ article.original }}</span>
            {% endif %}
        </td>
        <td>{{ moment(article.timestamp).format('LLL') }}</td>

        <td>{% if article.updatetimestamp %}
            {{ moment(article.updatetimestamp).format('LLL') }}
            {% endif %}
        </td>
        <td>{{ article.clicks }}</td>
        <td>{{ article.comments|length }}</td>
        <td>
            {% if article.public %}
            <span class="text-success">公开</span>
            {% else %}
            <span class="text-danger">私有</span>
            {% endif %}
        </td>
        <td>
            {% if article.forbid %}
            {% if current_user.level>=3 %}
            <a class="text-danger" href="{{ url_for('backstage.forbid_article', article_id=article.id ) }}">
                禁用
            </a>
            {% else %}
            <span class="text-danger">
                            禁用
                        </span>
            {% endif %}
            {% else %}
            {% if current_user.level>=3 %}
            <a class="text-success" href="{{ url_for('backstage.forbid_article', article_id=article.id ) }}">
                启用
            </a>
            {% else %}
            <span class="text-success">
                            启用
                        </span>
            {% endif %}
            {% endif %}
        </td>
        <td>
            {% if article.reviewed %}
            <a class="text-success" href="{{ url_for('backstage.reviewed_article', article_id=article.id ) }}">
                已审核
            </a>
            {% else %}
            <a class="text-danger" href="{{ url_for('backstage.reviewed_article', article_id=article.id ) }}">
                未审核
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<!--分页-->
<div class="" style="">
    <div class="container">
        <ul class="pagination justify-content-center">
            {% if pagination.has_prev %}
            <li class="page-item "><a class="page-link" href="{{ url_for('backstage.article_manage', page=pagination.prev_num) }}">上一页</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
            {% endif %}

            {% for page_num in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
            {% if page_num %}
            {% if pagination.page == page_num %}
            <li class="page-item active"><a class="page-link" href="{{ url_for('backstage.article_manage', page=page_num) }}">{{ page_num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('backstage.article_manage', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="">......</a></li>
            {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('backstage.article_manage', page=pagination.next_num) }}">下一页</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}